body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: sans-serif; 
}

* {
  box-sizing: border-box;
}

.section {
  padding: 60px 0;
}

.section-tight {
  padding-top: 20px;
}
