.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 8px;
  transition: opacity 0.3s ease;
  color: white;
}

.link:hover {
  opacity: 0.7;
}