.section {
  padding: 100px 0 0px 0; 
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 0; 
}

.titleWrapper {
  margin-top: 20px; 
  margin-bottom: 20px;
  text-align: center;
}

.titleWrapper h1,
.titleWrapper h2,
.titleWrapper span {
  font-family: 'Aileron', sans-serif !important;
  font-weight: 600 !important; 
}

.carouselWrapper {
  width: 100%;
  max-width: 1400px; 
  margin-top: 40px; 
  padding: 0 20px;
}

:global(.swiper) {
  width: 100%;
  padding-bottom: 10px; 
}

.slide {
  display: flex;
  justify-content: center;
}