.wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 40px; 
  overflow: hidden;
  background-color: #000;
  transform: translateZ(0); 
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8; 
  transition: opacity 0.5s ease;
  z-index: 2;
}

:global(.swiper-slide-active) .overlay {
  opacity: 0;
}

:global(.swiper-slide-next) .overlay,
:global(.swiper-slide-prev) .overlay {
  opacity: 0.5;
}