.container {
  padding: 20px 0 60px 0; 
  
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 20;
}


@media (max-width: 900px) {
  .container {
    padding: 20px 0 40px 0;
  }
}