.section {
  width: 100%;
  display: flex;
  justify-content: center;
  
  padding: 0px 20px 80px; 
}
.content {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; 
  margin-top: 0; 
}

.title {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}

.videoWrapper {
  width: 100%;
  max-width: 900px;
  height: 480px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.videoWrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .videoWrapper {
    height: 60vh; 
    max-width: 100%;
  }
  .section {
    padding: 60px 20px 20px;
  }
}