.heroContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  text-align: center;

  min-height: auto; 
  padding-bottom: 80px; 

  background-color: #000;
  padding-top: 140px; 
  overflow: hidden;
}

.bgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
  opacity: 0.8; 
  pointer-events: none; 
}

.contentWrapper {
  position: relative;
  z-index: 10; 
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoWrapper {
  margin-bottom: 60px;
}

.titleWrapper {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.subtitleWrapper {
  margin-bottom: 48px;
  width: auto;
  white-space: nowrap;
}

.highlightSub {
  color: #9272f1;
  font-weight: 600;
}

.buttonWrapper {
  margin-top: 10px;

  font-weight: 400 !important; 
}

@media (max-width: 1024px) {
  .heroContainer {
    justify-content: center; 
    padding-top: 0;
  }

  .subtitleWrapper {
    white-space: normal;
    max-width: 90%;
    line-height: 1.5;
  }
}