.section {
  padding: 80px 0;
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  overflow: hidden;
}

.titleWrapper {
  margin-bottom: 20px;
  text-align: center;
}

.titleWrapper h1,
.titleWrapper h2,
.titleWrapper span,
.titleWrapper div {
  font-family: 'Aileron', sans-serif !important;
  font-size: 42px !important; 
  font-weight: 600 !important; 
}

.carouselWrapper {
  width: 100%;
  margin-top: 50px;
}

.swiperRoot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  display: flex;
  justify-content: center;
}